@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



h1,
h2,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
}

p,
span {
	font-family: 'Lato', sans-serif;
}

a,
h3 {
	font-family: 'Nunito', sans-serif;
}

.room :nth-child(1){
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}

.tooltip_container:nth-child(1) .tooltip{
	margin-left: 5rem;
}

.tooltip_container:last-child .tooltip{
	margin-right: 7.5rem;
}
